@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@layer utilities {
    @keyframes spin-slow {
        to {
            transform: rotate(360deg);
        }
    }

    .animate-spin-slow {
        animation: spin-slow 3s ease-out 1 forwards;
        /* Spin once for 3s then stop */
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-fadeInUp {
        animation: fadeInUp 2.5s ease-out forwards;
    }

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    .animate-float {
        animation: float 4s ease-in-out infinite;
    }

    @keyframes gradient-xy {

        0%,
        100% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }

    .animate-gradient {
        background-size: 200% 200%;
        animation: gradient-xy 15s ease infinite;
    }
}

body {
    background-color: #00BFFF;
    background: radial-gradient(circle at center, #E0FFFF 0%, #00BFFF 100%);
    color: #374151;
    /* text-gray-700 - Dark Gray */
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    margin: 0;
}